{% extends "base.html" %}
{% load static %}
{% block title %}Add a New Task{% endblock %}
{% block content %}
    <h2>Add a New Task</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            {{ form.pet.label_tag }} {{ form.pet }}
            {{ form.pet.errors }}
        </div>

        <div>
            {{ form.category.label_tag }} {{ form.category }}
            {{ form.category.errors }}
        </div>

        <div>
            {{ form.new_category.label_tag }} {{ form.new_category }}
            {{ form.new_category.errors }}
            <small>{{ form.new_category.help_text }}</small>
        </div>

        <div>
            {{ form.data.label_tag }} {{ form.data }}
            {{ form.data.errors }}
        </div>

        <div>
            {{ form.comments.label_tag }} {{ form.comments }}
            {{ form.comments.errors }}
        </div>

        <div>
            {{ form.start_date.label_tag }} {{ form.start_date }}
            {{ form.start_date.errors }}
        </div>

        <div>
            <p>{{ form.frequently.label_tag }}</p>
            {{ form.frequently }}
            {{ form.frequently.errors }}
        </div>
        
        <div>
            {{ form.end_date.label_tag }} {{ form.end_date }}
            {{ form.end_date.errors }}
        </div>

        <div>
            {{ form.important.label_tag }} {{ form.important }}
            {{ form.important.errors }}
        </div>

        <button type="submit">Add Task</button>
    </form>
    
    <script src="{% static 'js/add_task.js' %}"></script>
{% endblock %}
