{% extends "base.html" %}
{% load static %}
{% block title %}Add a New Task{% endblock %}
{% block content %}
    <form class="block-layout" method="POST">
        <h2>{% if is_update %}Update{% else %}Add a New{% endif %} Task</h2>
        {% csrf_token %}

        <div class="form-input-block">
            {{ form.pet.label_tag }}
            {{ form.pet }}
            {{ form.pet.errors }}
        </div>

        <div class="row-form-input-block">
            <div class="form-input-block">
                {{ form.category.label_tag }}
                {{ form.category }}
                {{ form.category.errors }}
            </div>

            <div id="new_category_div" class="form-input-block">
                {{ form.new_category.label_tag }}
                {{ form.new_category }}
                {{ form.new_category.errors }}
            </div>
        </div>

        <div class="form-input-block">
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            {{ form.start_date.errors }}
        </div>

        <div class="form-input-block">
            <p>{{ form.frequently.label_tag }}</p>
            <div class="day-selector">
                {% for day in form.frequently.field.choices %}
                    <label class="day-button">
                        <input type="checkbox" name="frequently" value="{{ day.0 }}"
                               {% if day.0 in form.frequently.value %}checked{% endif %}>
                        <span>{{ day.1|slice:":1" }}</span>
                    </label>
                {% endfor %}
            </div>
            {{ form.frequently.errors }}
        </div>

        <div class="form-input-block">
            {{ form.data.label_tag }}
            {{ form.data }}
            {{ form.data.errors }}
        </div>

        <div class="form-input-block">
            {{ form.comments.label_tag }}
            {{ form.comments }}
            {{ form.comments.errors }}
        </div>

        <div class="row-form-input-block">
            <div class="form-input-block">
                {{ form.end_date.label_tag }}
                {{ form.end_date }}
                {{ form.end_date.errors }}
            </div>

            <div class="form-input-block toggle-checkbox">
                {{ form.important }}
                {{ form.important.label_tag }}
            </div>
        </div>

        {% if form.non_field_errors %}
            <div class="form-input-block">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit" class="primary-button" {% if is_update %}onclick="logUserAction('update_task')"
                {% else %}onclick="logUserAction('save_task')"{% endif %}>
            {% if is_update %}Update{% else %}Save{% endif %} Task
        </button>

        {% if is_update %}
            <a class="delete-task-link" href="{% url 'delete_task' task.id %}"
               onclick="return confirm('Are you sure you want to delete this task?');">
                <button type="button" class="accent-1-button" onclick="logUserAction('delete_task')">
                    Delete Task
                </button>
            </a>
        {% endif %}
    </form>

    <script src="{% static 'js/add_task.js' %}"></script>
{% endblock %}