nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em var(--page-margin) 0.5em var(--page-margin);
    gap: 0.5em;
}

nav .icon-button {
    width: 2em;
    height: 2em;
}

nav .icon-button > svg {
    fill: var(--grey-2);
}

nav form {
    margin: 0;
}

nav form button {

}