.task-list-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-list-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-list {
    border-radius: 0.3em;
    border: 0.1em solid var(--grey-3);
    list-style-type: none;
}

.task-list > li {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 1em;
}

.task-list > li > a {
    text-decoration: none;
}

.task-list > li > a > h4:not(:first-child) {
    font-size: 0.8em;
    color: var(--grey-1);
}

.task-list > li + li {
    border-top: 0.1em solid var(--grey-3);
}