:root {
    --color-1: #84e684;
    --color-2: #b7e6b7;
    --color-3: #cff1cf;

    --accent-1-1: rgb(186, 28, 28);
    --accent-1-2: rgb(255, 209, 209);

    --grey-1: #666e65;
    --grey-2: #b1b8b0;
    --grey-3: #d6ddd5;
    --grey-4: #e8ede6;

    --page-margin: 2rem;
}