{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="block-layout">
        <h1>Welcome, {{ user.first_name }}!</h1>

        <ul class="pet-list">
            {% for pet in pets %}
                <li><a href="{% url 'pet_detail' pet.pk %}">
                    <img id="pet-image" src="{{ pet.photo.url }}" alt="{{ pet.name }} Profile">
                    <h3>{{ pet.name }}</h3>
                </a></li>
            {% endfor %}
            <li><a href="{% url 'add_pet' %}">
                <div id="add-pet-button">+</div>
                <h3>Add pet</h3>
            </a></li>
        </ul>

        <div class="task-list-container">
            <div class="task-list-title">
                <h2>Your Tasks</h2>
                <div style="flex-grow: 1"></div>
                <a href="{% url 'add_task' %}">
                    <button class="secondary-button" type="button">+ Task</button>
                </a>
            </div>

            <ul class="task-list">
                <li id="date-navigation">
                    <button id="prev-day-button" class="icon-button">&lt;</button>
                    <div id="selected-date"></div>
                    <button id="next-day-button" class="icon-button">&gt;</button>
                </li>
            </ul>
        </div>

    </div>
    <script>
        const addIconUrl = "{% static 'assets/icons/add.svg' %}";
        const selectedDay = "{{ selected_day|date:'Y-m-d' }}";
    </script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
